@model Bandtastic.ViewModels.Index

@{
    ViewBag.Title = "Bandtastic";
}


<!-- Compiled and minified CSS -->
<!--   Icon Section   -->

<input type="radio" name="type" value="1" />
<input type="radio" name="type" value="2" />
<input type="radio" name="type" value="3" />
<input type="radio" name="type" value="4" />
<input type="radio" name="type" value="5" />



<form class="col s12">
    @*<div class="row">

            <div class="col s12">
                <div class="input-field col s12">
                    <select id="type">
                        <option value="" disabled selected>Choose your option</option>
                        <option value="1">Type 1</option>
                        <option value="2">Type 2</option>
                        <option value="3">Type 3</option>
                        <option value="4">Type 4</option>
                        <option value="5">Type 5</option>
                    </select>
                    <label>Procurement Type Required</label>
                </div>
            </div>

        </div>*@
<div class="row">
    @*<h1 id="chooseProcType">Choose a procurement type</h1>*@
        <a class="btn" id="resetType" style="display: none; width: 100%;">choose another type</a>
        @*<input type="button" id="resetType" style="display:none" value="choose another type" />*@
        <div class="col s12 info" id="type1description" data-type="1">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Type 1 - Procurement/purchase from competitive process</span>
                    <div class="row center-align valign-wrapper">
                        <div class="col s4">
                            <i class="fa fa-users fa-5x"></i>
                        </div>
                        <div class="col s8">
                            <p>Type 1 delegates have the authority to approve a procurement/purchase from competitive tenders, offers or quotes, including quotes from a register of pre-qualified supplier/s.</p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="col s12 info" id="type2description" data-type="2">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Type 2 - Purchase from an established Standing Offer Arrangement</span>
                    <div class="row center-align valign-wrapper">
                        <div class="col s4">
                            <i class="fa fa-book fa-5x"></i>
                        </div>
                        <div class="col s8">
                            <p>Type 2 delegates have the authority to approve a purchase from existing Standing offer arrangement/s (single supplier or panel).</p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="col s12 info" id="type3description" data-type="3">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Type 3 - Establishment of a Supply Arrangement</span>
                    <div class="row center-align valign-wrapper">
                        <div class="col s4">
                            <i class="fa fa-handshake-o fa-5x"></i>
                        </div>
                        <div class="col s8">
                            <p>Type 3 delegates have the authority to approve, following a competitive process, the establishment of a Standing offer arrangement or register of pre-qualified supplier/s.</p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="col s12 info" id="type4description" data-type="4">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Type 4 - Confined market</span>
                    <div class="row center-align valign-wrapper">
                        <div class="col s4">
                            <i class="fa fa-diamond fa-5x"></i>
                        </div>
                        <div class="col s8">
                            <p>
                                Type 4 delegates have the authority to confine quotes/offers where there is a sole or limited source of supply or genuinely urgent situation. <b>Type 4 procurements always require a briefing note.</b>
                            </p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="col s12 info" id="type5description" data-type="5">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Type 5 - Contracting</span>
                    <div class="row center-align valign-wrapper">
                        <div class="col s4">
                            <i class="fa fa-pencil-square-o fa-5x"></i>
                        </div>
                        <div class="col s8">
                            <p>
                                Type 5 delegates have the authority to bind the State to a procurement outcome or purchase by entering into a contract, including:<br />
                                <br />
                                • issuing purchase order/s <br />
                                • issuing of a letter of acceptance to a successful supplier<br />
                                • signing a contract.<br />

                            </p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="input-field col s12">
                <input placeholder="Total" type="number" id="totalvalue" type="text" class="validate">
                <label for="totalvalue">Total Cumulative Value</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="input-field col s12">
                <select id="risk">
                    <option value="" disabled selected>Choose your option</option>
                    <option value="1">Low</option>
                    <option value="2">Medium</option>
                    <option value="3">High</option>
                </select>
                <label>Risk</label>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col s12">
            <div class="input-field col s12">
                <select id="recurrency">
                    <option value="" disabled selected>Choose your option</option>
                    <option value="recurrent">Recurrent</option>
                    <option value="nonrecurrent">Non-recurrent</option>
                </select>
                <label>Expenditure Type</label>
            </div>
        </div>

    </div>
    <div id="procurementNeeded" style="display:none">
        <div class="row">

            <div class="col s12 m6">
                <div class="card black">
                    <div class="card-content white-text">
                        <span class="card-title" id="financialLevel"></span>
                        <p id="financialLevelExplanation"></p>
                        @*<p id="briefingnoterequired" style="display:none"><b>You also need to fill out a briefing note</b></p>*@
                    </div>

                </div>
            </div>
            <div class="col s12 m6">
                <div class="card blue darken-1">
                    <div class="card-content white-text">
                        <span class="card-title" id="procurementLevel"></span>
                        <p id="procurementLevelExplanation"></p>
                        @*<p id="briefingnoterequired" style="display:none"><b>You also need to fill out a briefing note</b></p>*@
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="card pink">
                    <div class="card-content white-text">
                        <span class="card-title">Briefing note required</span>
                        <p>For this procurement, you are required to fill out a briefing note.</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">What's next?</span>
                        <p id="whatsnext"></p>
                        In order to progress this procurement, the following needs to occur:
                        <ol>
                            <li>The <b>author</b> needs to email the description of the Purchase Order</li>
                            <li>The <b>Financial Delegate</b> needs to <b>review and approve</b> the purchase</li>
                            <li>The <b>Procurement Delegate</b> needs to <b>review and approve</b> the purchase</li>
                            <li>The <b>Asset Accounting Team</b> need to release the Purchase Order</li>
                        </ol>
                        @*<p id="briefingnoterequired" style="display:none"><b>You also need to fill out a briefing note</b></p>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('select').material_select();

            $('div[id*="description"]').on('click',
                function () {
                    //$("div[class*='card']").switchClass('blue', 'blue-grey', 400);

                    //console.log($("div[class*='info'][data-type!='" + $(this).data("type") + "']"));


                    $(this).addClass('active');
                    //$(this).find("div[class*='info']").switchClass('blue-grey', 'blue', 0);
                    //400, 'swing', function () {
                    console.log($("div[class*='info'][data-type!='" + $(this).data("type") + "']").find("div").first());
                    $("div[class*='info'][data-type!='" + $(this).data("type") + "']").slideUp();
                    //$("div[class*='active'][data-type!='" + $(this).data("type") + "']").removeClass('active').find('div[class*="info"]').switchClass('blue', 'blue-grey', 0);
                    //});
                    console.log("input[value='" + $(this).data("type") + "']");
                    $("input[value='" + $(this).data("type") + "'][type='radio']").prop("checked", true);
                    console.log($("input[value='" + $(this).data("type") + "'][type='radio']"));
                    //console.log($("input"));
                    console.log($("input[name='type']:checked").val());
                    $("#resetType").show();
                    getAppropriateProcurement();
                });

            $("input").on('blur',
                function () {
                    getAppropriateProcurement();
                });

            $("select").on('change',
                function () {
                    getAppropriateProcurement();
                });

            $("#resetType").on('click',
                function () {
                    $(this).hide();
                    $("div[class*='info']").slideDown();

                });
            function getAppropriateProcurement() {
                //if ($("#type").val() !== null &&
                if ($("input[name='type']:checked").val() != null &&
                    $("#risk").val() !== null &&
                    $("#totalvalue").val() !== "" &&
                    $("#recurrency").val() !== null) {

                    var procurementBandNeeded;
                    var financialBandNeeded;
                    var financialOverLimit = false;
                    var procurementAmount = Number(($("#totalvalue").val()));
                    var briefingNoteRequired = false;
                    //var procurementType = Number($("#type").val());
                    var procurementType = Number($("input[name='type']:checked").val());
                    console.log(procurementType);
                    var isRecurrent = $("#recurrency").val() === "recurrent"; // false if not recurrent
                    console.log($("#type").val());

                    if (procurementAmount > 100000) { // need briefing note for expenses more than $100,000
                        briefingNoteRequired = true;
                    }

                    if ($("#risk").val() > 1) {
                        briefingNoteRequired = true; // med-high risk
                    }

                    if (procurementType !== 3 && procurementType !== 4) {
                        // procurmenet less than 10 million
                        // is not type 3 or 4

                        switch (true) {
                            // these are the broad rules
                            // for type 1,2, and 5 bands 4 through 8 share delegation limits.
                            case (procurementAmount <= 10000):
                                {
                                    procurementBandNeeded = 8;
                                    break;
                                }
                            case (procurementAmount <= 100000):
                                {
                                    procurementBandNeeded = 7;
                                    break;

                                }
                            case (procurementAmount <= 250000):
                                {
                                    procurementBandNeeded = 6;
                                    break;

                                }
                            case (procurementAmount <= 500000):
                                {
                                    procurementBandNeeded = 5;
                                    break;

                                }
                            case (procurementAmount <= 1000000):
                                {
                                    procurementBandNeeded = 4;
                                    break;
                                }
                            case (procurementAmount <= 10000000):
                                {
                                    procurementBandNeeded = 3;
                                    break;
                                }
                            case (procurementAmount > 10000000):
                                {
                                    procurementBandNeeded = 2;
                                    break;
                                }

                            default:
                                {
                                    procurementBandNeeded = 2; // no match

                                }
                        }


                        // special cases for higher bands


                    } else if (procurementType === 3) {
                        if (procurementAmount < 10000000) {
                            procurementBandNeeded = 3;
                        } else {
                            procurementBandNeeded = 2;
                        }
                    } else if (procurementType === 4) {
                        briefingNoteRequired = true;
                        if (procurementAmount < 150000) {
                            procurementBandNeeded = 3;
                        } else if (procurementAmount < 250000) {
                            procurementBandNeeded = 2;
                        } else {
                            procurementBandNeeded = 1;
                        }
                    }

                    // procurement band logic finished
                    // financial band logic

                    if (isRecurrent
                    ) { // there are too many differences between recurrent/nonrecurrent, they become dissimilar after band 8 :S
                        switch (true) {
                            case (procurementAmount <= 10000):
                                {
                                    financialBandNeeded = 8;
                                    break;

                                }
                            case (procurementAmount <= 100000):
                                {
                                    financialBandNeeded = 7;
                                    break;
                                }
                            case (procurementAmount <= 250000):
                                {
                                    financialBandNeeded = 6;
                                    break;
                                }
                            case (procurementAmount <= 500000):
                                {
                                    financialBandNeeded = 5;
                                    break;
                                }
                            case (procurementAmount <= 1000000):
                                {
                                    financialBandNeeded = 4;
                                    break;
                                }
                            case (procurementAmount <= 10000000):
                                {
                                    financialBandNeeded = 3;
                                    break;
                                }
                            case (procurementAmount > 10000000):
                                {
                                    financialBandNeeded = 2;
                                    break;
                                }


                        }
                    } else {
                        // nonrecurrent
                        switch (true) {
                            case (procurementAmount <= 10000): // same as recurrent
                                {
                                    financialBandNeeded = 8;
                                    break;

                                }
                            case (procurementAmount <= 50000):
                                {
                                    financialBandNeeded = 7;
                                    break;
                                }
                            case (procurementAmount <= 100000):
                                {
                                    financialBandNeeded = 6;
                                    break;
                                }
                            case (procurementAmount <= 250000):
                                {
                                    financialBandNeeded = 5;
                                    break;
                                }
                            case (procurementAmount <= 500000):
                                {
                                    financialBandNeeded = 4;
                                    break;
                                }
                            case (procurementAmount <= 1000000):
                                {
                                    financialBandNeeded = 3;
                                    break;
                                }
                            case (procurementAmount <= 5000000): // band 2 and 1 have the same nonrecurrent limits
                                {
                                    financialBandNeeded = 2;
                                    break;
                                }
                            case (procurementAmount > 5000000):
                                {
                                    financialOverLimit = true;
                                }
                        }
                    }


                    $("#procurementLevel").text("Band " + procurementBandNeeded);
                    //console.log($("#type").val());
                    $("#procurementLevelExplanation").text("You require Band " +
                        procurementBandNeeded +
                        " procurement delegation");
                    if (!financialOverLimit) {

                        $("#financialLevel").text("Band " + financialBandNeeded);
                        $("#financialLevelExplanation")
                            .text("You require Band " + financialBandNeeded + " financial delgation");


                    } else {
                        $("#financialLevel").text("No band can approve this much for this type");
                        $("#financialLevelExplanation")
                            .text("Could you use a coupon, or something?");
                    }
                    if (briefingNoteRequired) {
                        $("#briefingnoterequired").show();
                    } else {
                        $("#briefingnoterequired").hide();
                    }

                    $("#procurementNeeded").show();
                }
            }

        });
    </script>
}

@*<div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <input placeholder="Placeholder" id="first_name" type="text" class="validate">
                    <label for="first_name">First Name</label>
                </div>
                <div class="input-field col s6">
                    <input id="last_name" type="text" class="validate">
                    <label for="last_name">Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input disabled value="I am not editable" id="disabled" type="text" class="validate">
                    <label for="disabled">Disabled</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" class="validate">
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email" class="validate">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    This is an inline input field:
                    <div class="input-field inline">
                        <input id="email" type="email" class="validate">
                        <label for="email" data-error="wrong" data-success="right">Email</label>
                    </div>
                </div>
            </div>
        </form>
    </div>*@

