@model Bandtastic.ViewModels.Index

@{
    ViewBag.Title = "Bandtastic";
}


<!-- Compiled and minified CSS -->
<!--   Icon Section   -->
<div class="row">
    <form class="col s12">
        <div class="row">

            <div class="col s12">
                <div class="input-field col s12">
                    <select id="type">
                        <option value="" disabled selected>Choose your option</option>
                        <option value="1">Type 1</option>
                        <option value="2">Type 2</option>
                        <option value="3">Type 3</option>
                        <option value="4">Type 4</option>
                        <option value="5">Type 5</option>
                    </select>
                    <label>Procurement Type Required</label>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col s12">
                <div class="input-field col s12">
                    <span style="position: absolute; top: 20%; left:-10px">$</span>
                    <input placeholder="Total" type="number" id="totalvalue" type="text" class="validate">

                    <label for="totalvalue">Total Cumulative Value</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="input-field col s12">
                    <select id="risk">
                        <option value="" disabled selected>Choose your option</option>
                        <option value="1">Low</option>
                        <option value="2">Medium</option>
                        <option value="3">High</option>
                    </select>
                    <label>Risk</label>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col s12">
                <div class="input-field col s12">
                    <select id="recurrency">
                        <option value="" disabled selected>Choose your option</option>
                        <option value="recurrent">Recurrent</option>
                        <option value="nonrecurrent">Non-recurrent</option>
                    </select>
                    <label>Expenditure Type</label>
                </div>
            </div>

        </div>
        <div id="procurementNeeded" style="display:none">
            <div class="row">

                <div class="col s12 m6">
                    <div class="card black">
                        <div class="card-content white-text">
                            <span class="card-title" id="financialLevel"></span>
                            <p id="financialLevelExplanation"></p>
                            @*<p id="briefingnoterequired" style="display:none"><b>You also need to fill out a briefing note</b></p>*@
                        </div>

                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="card blue darken-1">
                        <div class="card-content white-text">
                            <span class="card-title" id="procurementLevel"></span>
                            <p id="procurementLevelExplanation"></p>
                            @*<p id="briefingnoterequired" style="display:none"><b>You also need to fill out a briefing note</b></p>*@
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="card-panel pink lighten-1" id="briefingnoterequired" style="display:none">
                        <span class="white-text">
                            This procurement <b>requires</b> a <b>briefing note</b>.
                        </span>
                    </div>
                    <div class="col s12">
                        <div class="card">
                            <div class="card-content">
                                <span class="card-title">What's next?</span>
                                <div id="whatsnext1" style="display:none">
                                    <p>
                                        Email the Delegates and Purchase Requisition officer.  This email should include:
                                        <ol>
                                            <li>detail what is being bought and why</li>
                                            <li>nominate the successful provider (as determined from the evaluation process)</li>
                                            <li>state the value (inc GST) of the entire engagement (inclusive of any option periods)</li>
                                            <li>
                                                indicate the term of the engagement and any available option periods
                                                <ul style="padding-left:10px">
                                                    <li>including the saving and benefits of the proposed engagement</li>
                                                    <li>include how value for money is best secured/assessed (ie. why this is the appropriate course of action) and how this aligns to your proposed procurement strategy)</li>

                                                </ul>
                                            </li>
                                            <li>confirm the funding availability (non-recurrent or recurrent) from the financial delegate</li>
                                            <li>state who will be responsible for managing the agreement and supplier performance</li>
                                            <li>include the statement “A Service agreement will be developed after this approval is granted”</li>

                                        </ol>

                                        The <b>attachments</b> in this email should include the following items:
                                        <ul>
                                            <li>the prior approval to proceed with this procurement process</li>
                                            <li>the approved evaluation report summarising the selection process (where more than one provider was considered in a confined process).</li>
                                        </ul>

                                    </p>
                                </div>
                                <div id="whatsnext2" style="display:none">
                                    <p>
                                        Email the Delegates and Purchase Requisition officer.  This email should include:
                                        <ol>
                                            <li>detail what is being bought and why</li>
                                            <li>nominate the successful provider</li>
                                            <li>state the value (inc GST) of the entire engagement (inclusive of any option periods)</li>
                                            <li>
                                                indicate the term of the engagement and any available option periods
                                                <ul style="padding-left: 10px">
                                                    include how value for money is best secured/assessed (ie. why this is the appropriate course of action) and how this aligns to your proposed procurement strategy)
                                                </ul>
                                            </li>
                                            <li>confirm the funding availability (non-recurrent or recurrent) from the financial delegate </li>
                                            <li>state who will be responsible for managing the agreement and provider performance.</li>
                                        </ol>

                                        The <b>attachments</b> in this email should include the following items:
                                        <ul>
                                            <li>the prior approval to proceed with this procurement process</li>
                                        </ul>


                                    </p>
                                </div>
                                <div id="whatsnext3" style="display: none">
                                    <p>
                                        In order to progress this procurement, the following needs to occur:
                                        <ol>
                                            <li>The <b>author</b> needs to email the description of the Purchase Order</li>
                                            <li>The <b>Financial Delegate</b> needs to <b>review and approve</b> the purchase</li>
                                            <li>The <b>Procurement Delegate</b> needs to <b>review and approve</b> the purchase</li>
                                            <li>The <b>Asset Accounting Team</b> need to release the Purchase Order</li>
                                        </ol>
                                    </p>
                                </div>
                                <div id="whatsnext4" style="display: none">
                                    <p>
                                        Email the Delegates and Purchase Requisition officer. This email should include: <br />
                                        a) the purpose of the engagement and the specific services to be performed<br />
                                        b) the business name of the proposed provider<br />
                                        c) in a sole supply situation:<br />
                                        • the market research undertaken to substantiate the claim of sole supply<br />
                                        d) in a confined market situation:<br />
                                        • the reasons and basis upon which the market was confined to the limited number of nominated providers<br />
                                        e) in a situation of genuine urgency:<br />
                                        • a description of the genuine urgency<br />
                                        • the implications if the goods/services are not purchased urgently<br />
                                        • the reasons for selecting a particular provider, where there is more than one suitable provider/supplier<br />
                                        f) any alternative solutions to this proposal<br />
                                        g) probity and integrity implications and the public perception of an engagement outside of an open competitive tender process<br />
                                        h) how value for money is best secured/assessed (ie. why this is the appropriate course of action) and how this aligns to your proposed procurement strategy)<br />
                                        i) the duration of the proposed engagement (including any extension options)<br />
                                        j) the total cost of the engagement:<br />
                                        • the funding source, funding approval and project commencement approval from an appropriate financial delegate<br />
                                        k) include the statement, “A Service agreement will be developed after this approval is granted”.<br />
                                        Attachments will include:<br />
                                        • the prior approval to proceed/sourcing strategy with this procurement process (where relevant)<br />
                                        • the evaluation report approved by the evaluation panel summarising the selection process (if more than one provider was considered e.g. a confined process)<br />
                                        • any financial approvals where this is a separate brief.<br />

                                    </p>
                                </div>
                                <div id="whatsnext5" style="display: none">
                                    <p>
                                        In order to progress this procurement, the following needs to occur:
                                        <ol>
                                            <li>The <b>author</b> needs to email the description of the Purchase Order</li>
                                            <li>The <b>Financial Delegate</b> needs to <b>review and approve</b> the purchase</li>
                                            <li>The <b>Procurement Delegate</b> needs to <b>review and approve</b> the purchase</li>
                                            <li>The <b>Asset Accounting Team</b> need to release the Purchase Order</li>
                                        </ol>
                                    </p>
                                </div>

                                @*<p id="briefingnoterequired" style="display:none"><b>You also need to fill out a briefing note</b></p>*@
                                <div class="card-action">
                                    <a href="#" id="generateEmailButton">generate email for approval</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="row">
                <div class="col s12 center-align">
                    <img src="~/Media/qhealth.png"/>
                </div>
            </div>*@



    </form>
</div>


@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('select').material_select();

            $("input").on('blur',
                function () {
                    getAppropriateProcurement();
                });

            $("select").on('change',
                function () {
                    getAppropriateProcurement();
                });

            function getAppropriateProcurement() {
                if ($("#type").val() !== null &&
                    $("#risk").val() !== null &&
                    $("#totalvalue").val() !== "" &&
                    $("#recurrency").val() !== null) {

                    var procurementBandNeeded;
                    var financialBandNeeded;
                    var financialOverLimit = false;
                    var procurementAmount = Number(($("#totalvalue").val()));
                    var briefingNoteRequired = false;
                    var procurementType = Number($("#type").val());
                    var isRecurrent = $("#recurrency").val() === "recurrent"; // false if not recurrent
                    console.log($("#type").val());

                    if (procurementAmount > 100000) { // need briefing note for expenses more than $100,000
                        briefingNoteRequired = true;
                    }

                    if (procurementType !== 3 && procurementType !== 4) {
                        // procurmenet less than 10 million
                        // is not type 3 or 4

                        switch (true) {
                            // these are the broad rules
                            // for type 1,2, and 5 bands 4 through 8 share delegation limits.
                            case (procurementAmount <= 10000):
                                {
                                    procurementBandNeeded = 8;
                                    break;
                                }
                            case (procurementAmount <= 100000):
                                {
                                    procurementBandNeeded = 7;
                                    break;

                                }
                            case (procurementAmount <= 250000):
                                {
                                    procurementBandNeeded = 6;
                                    break;

                                }
                            case (procurementAmount <= 500000):
                                {
                                    procurementBandNeeded = 5;
                                    break;

                                }
                            case (procurementAmount <= 1000000):
                                {
                                    procurementBandNeeded = 4;
                                    break;
                                }
                            case (procurementAmount <= 10000000):
                                {
                                    procurementBandNeeded = 3;
                                    break;
                                }
                            case (procurementAmount > 10000000):
                                {
                                    procurementBandNeeded = 2;
                                    break;
                                }

                            default:
                                {
                                    procurementBandNeeded = 2; // no match

                                }
                        }


                        // special cases for higher bands


                    } else if (procurementType === 3) {
                        if (procurementAmount < 10000000) {
                            procurementBandNeeded = 3;
                        } else {
                            procurementBandNeeded = 2;
                        }
                    } else if (procurementType === 4) {
                        briefingNoteRequired = true;
                        if (procurementAmount < 150000) {
                            procurementBandNeeded = 3;
                        } else if (procurementAmount < 250000) {
                            procurementBandNeeded = 2;
                        } else {
                            procurementBandNeeded = 1;
                        }
                    }

                    // procurement band logic finished
                    // financial band logic

                    if (isRecurrent
                    ) { // there are too many differences between recurrent/nonrecurrent, they become dissimilar after band 8 :S
                        switch (true) {
                            case (procurementAmount <= 10000):
                                {
                                    financialBandNeeded = 8;
                                    break;

                                }
                            case (procurementAmount <= 100000):
                                {
                                    financialBandNeeded = 7;
                                    break;
                                }
                            case (procurementAmount <= 250000):
                                {
                                    financialBandNeeded = 6;
                                    break;
                                }
                            case (procurementAmount <= 500000):
                                {
                                    financialBandNeeded = 5;
                                    break;
                                }
                            case (procurementAmount <= 1000000):
                                {
                                    financialBandNeeded = 4;
                                    break;
                                }
                            case (procurementAmount <= 10000000):
                                {
                                    financialBandNeeded = 3;
                                    break;
                                }
                            case (procurementAmount > 10000000):
                                {
                                    financialBandNeeded = 2;
                                    break;
                                }


                        }
                    } else {
                        // nonrecurrent
                        switch (true) {
                            case (procurementAmount <= 10000): // same as recurrent
                                {
                                    financialBandNeeded = 8;
                                    break;

                                }
                            case (procurementAmount <= 50000):
                                {
                                    financialBandNeeded = 7;
                                    break;
                                }
                            case (procurementAmount <= 100000):
                                {
                                    financialBandNeeded = 6;
                                    break;
                                }
                            case (procurementAmount <= 250000):
                                {
                                    financialBandNeeded = 5;
                                    break;
                                }
                            case (procurementAmount <= 500000):
                                {
                                    financialBandNeeded = 4;
                                    break;
                                }
                            case (procurementAmount <= 1000000):
                                {
                                    financialBandNeeded = 3;
                                    break;
                                }
                            case (procurementAmount <= 5000000): // band 2 and 1 have the same nonrecurrent limits
                                {
                                    financialBandNeeded = 2;
                                    break;
                                }
                            case (procurementAmount > 5000000):
                                {
                                    financialOverLimit = true;
                                }
                        }
                    }


                    $("#procurementLevel").text("Band " + procurementBandNeeded);
                    //console.log($("#type").val());
                    $("#procurementLevelExplanation").text("You require Band " +
                        procurementBandNeeded +
                        " procurement delegation");
                    if (!financialOverLimit) {

                        $("#financialLevel").text("Band " + financialBandNeeded);
                        $("#financialLevelExplanation")
                            .text("You require Band " + financialBandNeeded + " financial delgation");


                    } else {
                        $("#financialLevel").text("No band can approve this much for this type");
                        $("#financialLevelExplanation")
                            .text("Could you use a coupon, or something?");
                    }
                    if (briefingNoteRequired) {


                        $("#briefingnoterequired").show();
                    } else {
                        $("#briefingnoterequired").hide();
                    }

                    $("div[id*='whatsnext']").hide();
                    // violates dry, write a function
                    switch (true) {
                        case (procurementType === 1):
                            {
                                $("#whatsnext1").show();
                                break;
                            }
                        case (procurementType === 2):
                            {
                                $("#whatsnext2").show();
                                break;
                            }
                        case (procurementType === 3):
                            {
                                $("#whatsnext3").show();
                                break;
                            }
                        case (procurementType === 4):
                            {
                                $("#whatsnext4").show();
                                break;
                            }
                        case (procurementType === 5):
                            {
                                $("#whatsnext5").show();
                                break;
                            }

                    }

                    var emailBody = "Hello, %0D%0A%0D%0A Please approve the below procurement:%0D%0A Procurement Type: " +
                        $("#type option:selected").text() +
                        "%0D%0A Total Cumulative Value: " +
                        procurementAmount +
                        "%0D%0A Risk: " +
                        $("#risk option:selected").text() +
                        "%0D%0A Expenditure Type: " +
                        $("#recurrency option:selected").text() +
                        "%0D%0A%0D%0A If you have any questions please let me know.";


                    $("#generateEmailButton").attr("href", "mailto:?Subject=potato&body=" + emailBody);

                    $("#procurementNeeded").show();
                }
            }

            // this javascript is dedicated to my beautiful wife, Sarah Cianci, who spent so many of her hours
            // sitting in the couch next to me just so I could succeed at making a decent application :)

        });
    </script>
}

@*<div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <input placeholder="Placeholder" id="first_name" type="text" class="validate">
                    <label for="first_name">First Name</label>
                </div>
                <div class="input-field col s6">
                    <input id="last_name" type="text" class="validate">
                    <label for="last_name">Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input disabled value="I am not editable" id="disabled" type="text" class="validate">
                    <label for="disabled">Disabled</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" class="validate">
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email" class="validate">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    This is an inline input field:
                    <div class="input-field inline">
                        <input id="email" type="email" class="validate">
                        <label for="email" data-error="wrong" data-success="right">Email</label>
                    </div>
                </div>
            </div>
        </form>
    </div>*@

