/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}


.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


.dl-horizontal dt {
    white-space: normal;
}


input,
select,
textarea {
    max-width: 280px;
}*/


/*sticky footers >> http://materializecss.com/footer.html*/
  body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
  }

  main {
      flex: 1 0 auto;
  }


/*https://stackoverflow.com/questions/2913236/html-text-input-field-with-currency-symbol*/

  .currencyinput {
      border: 1px inset #ccc;
  }
  .currencyinput input {
      border: 0;
  }